diffsynth==2.0.4
MarkupSafe==3.0.2+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
PyNaCl==1.5.0+computecanada
PyYAML==6.0.2+computecanada
absl_py==2.4.0+computecanada
accelerate==1.12.0+computecanada
addict==2.4.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.13.3+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.12.1+computecanada
appdirs==1.4.4+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
arrow==1.4.0+computecanada
asttokens==3.0.1+computecanada
async-lru==2.3.0
attrs==25.4.0+computecanada
av==15.1.0+computecanada
babel==2.18.0
bcrypt==5.0.0+computecanada
beautifulsoup4==4.14.3+computecanada
bitsandbytes==0.49.0+computecanada
bleach==6.3.0+computecanada
certifi==2026.1.4+computecanada
cffi==2.0.0+computecanada
cfgv==3.5.0
charset_normalizer==3.4.4+computecanada
click==8.3.1+computecanada
colossalai==0.5.0
colour_science==0.4.7+computecanada
comm==0.2.3+computecanada
contexttimer==0.3.3+computecanada
cryptography==45.0.6+computecanada
dacite==1.7.0
datasets==4.5.0+computecanada
debugpy==1.8.20+computecanada
decorator==5.2.1+computecanada
defusedxml==0.7.1+computecanada
deprecated==1.3.1+computecanada
diffsynth==2.0.4
diffusers==0.29.0
dill==0.4.0+computecanada
dreifus==0.1.28
einops==0.8.2+computecanada
elias==0.4.19
executing==2.2.1+computecanada
fabric==3.2.2+computecanada
fastapi==0.128.6
fastjsonschema==2.21.2+computecanada
fire==0.7.1+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.10.0+computecanada
ftfy==6.3.1+computecanada
galore-torch==1.0
gitdb==4.0.12+computecanada
gitpython==3.1.46+computecanada
google==3.0.0+computecanada
grpcio==1.76.0+computecanada
h11==0.16.0+computecanada
hf_xet==1.2.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.2
identify==2.6.16
idna==3.11+computecanada
imageio==2.37.2+computecanada
imageio_ffmpeg==0.6.0+computecanada
importlib_metadata==8.7.1+computecanada
invoke==2.2.1+computecanada
ipykernel==7.2.0+computecanada
ipython==9.10.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
json5==0.13.0+computecanada
jsonpointer==3.1.1
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.3.0+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_terminals==0.5.4+computecanada
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.28.0+computecanada
lark==1.3.1+computecanada
lazy_loader==0.4+computecanada
liger_kernel==0.6.5
Markdown==3.10.2
markdown_it_py==4.0.0+computecanada
matplotlib_inline==0.2.1+computecanada
mdurl==0.1.2+computecanada
mistune==3.2.0+computecanada
mmengine==0.10.7
modelscope==1.34.0
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.1+computecanada
multiprocess==0.70.18+computecanada
nbclient==0.10.4+computecanada
nbconvert==7.17.0+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.6.1+computecanada
ninja==1.11.1+computecanada
nodeenv==1.10.0
notebook==7.5.5
notebook_shim==0.2.4+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
onnx==1.16.0+computecanada
onnx_graphsurgeon==0.5.8
overrides==7.7.0+computecanada
packaging==26.0+computecanada
pandarallel==1.6.5+computecanada
pandas==3.0.0+computecanada
pandocfilters==1.5.1+computecanada
paramiko==4.0.0+computecanada
parso==0.8.6+computecanada
peft==0.13.2+computecanada
pexpect==4.9.0+computecanada
pillow==12.1.0+computecanada
pip==26.0.1+computecanada
plumbum==1.10.0
polygraphy==0.49.26
pre_commit==4.5.1
prometheus_client==0.24.1+computecanada
prompt_toolkit==3.0.52+computecanada
propcache==0.4.1+computecanada
protobuf==6.33.5+computecanada
psutil==7.2.2+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pycparser==3.0+computecanada
pydantic==2.12.5+computecanada
pydantic_core==2.41.5+computecanada
pygments==2.19.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_json_logger==4.0.0+computecanada
pyvista==0.36.0
pyzmq==27.1.0+computecanada
ray==2.49.1+computecanada
referencing==0.37.0+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rich==14.3.2+computecanada
rpds_py==0.30.0+computecanada
rpyc==6.0.0
safetensors==0.7.0+computecanada
scikit_image==0.25.2+computecanada
scooby==0.11.0+computecanada
send2trash==2.1.0+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.52.0
setuptools==82.0.0+computecanada
silberstral==0.2.3
smmap==5.0.2+computecanada
soupsieve==2.8.3+computecanada
stack_data==0.6.3+computecanada
starlette==0.52.1+computecanada
sympy==1.14.0+computecanada
tabulate==0.9.0+computecanada
tensorboard==2.20.0+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorrt==10.8.0.43
tensorrt_cu12==10.8.0.43
termcolor==3.3.0+computecanada
terminado==0.18.1+computecanada
tifffile==2026.1.28+computecanada
tinycss2==1.4.0+computecanada
tokenizers==0.21.1+computecanada
torch==2.10.0+computecanada
torchvision==0.25.0+computecanada
tornado==6.5.5+computecanada
tqdm==4.67.3+computecanada
traitlets==5.14.3+computecanada
transformers==4.51.3+computecanada
trimesh==4.11.2
triton==3.6.0+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tzdata==2025.3+computecanada
uri_template==1.3.0+computecanada
urllib3==2.6.3+computecanada
uv==0.10.6
uvicorn==0.29.0+computecanada
wandb==0.24.0+computecanada
wcwidth==0.6.0+computecanada
webcolors==25.10.0+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.9.0+computecanada
werkzeug==3.1.5+computecanada
wheel==0.46.3+computecanada
wrapt==2.1.1+computecanada
xxhash==3.5.0+computecanada
yapf==0.43.0+computecanada
yarl==1.22.0+computecanada
zipp==3.23.0+computecanada
elias==0.4.19
flit_core==3.9.0
setuptools==68.1.2
packaging==23.1
trove-classifiers==2023.8.7
pathspec==0.11.2
setuptools-scm==7.1.0
hatch-vcs==0.3.0
distlib==0.3.7
virtualenv==20.24.3
editables==0.5
filelock==3.12.2
platformdirs==3.10.0
pluggy==1.3.0
tomli==2.0.1
pip==23.2.1
wheel==0.41.2
six==1.16.0
typing_extensions==4.7.1
pyparsing==3.1.1
hatchling==1.18.0
archspec==0.2.5
build==1.2.2.post1
CacheControl==0.14.0
cachy==0.3.0
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
cleo==2.1.0
clikit==0.6.2
crashtest==0.4.1
cryptography==45.0.5
distlib==0.3.9
distro==1.9.0
dulwich==0.23.2
editables==0.5
exceptiongroup==1.3.0
filelock==3.18.0
findpython==0.7.0
flit_core==3.12.0
flit_scm==1.7.0
hatch-fancy-pypi-readme==25.1.0
hatch-vcs==0.5.0
hatchling==1.27.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
installer==0.7.0
jeepney==0.9.0
keyring==25.6.0
keyrings.alt==5.0.2
maturin==1.9.1
meson==1.8.2
meson-python==0.18.0
msgpack==1.1.1
nanobind==2.7.0
ninja==1.11.1.4
packaging==25.0
pastel==0.2.1
pathspec==0.12.1
pbr==6.1.1
pbs-installer==2025.7.2
pdm==2.25.4
pdm-backend==2.4.5
pexpect==4.9.0
pkginfo==1.12.1.2
platformdirs==4.3.8
poetry==2.1.3
poetry-core==2.1.3
poetry-plugin-bundle==1.7.0
ptyprocess==0.7.0
pybind11==2.13.6
pycparser==2.22
pylev==1.4.0
pyparsing==3.2.3
pyproject_hooks==1.2.0
pyproject-metadata==0.9.1
pytoml==0.1.21
RapidFuzz==3.13.0
requests==2.32.4
requests-toolbelt==1.0.0
scikit-build==0.18.1
scikit_build_core==0.11.5
SecretStorage==3.3.3
semantic_version==2.10.0
setuptools==80.9.0
setuptools-rust==1.11.1
setuptools-scm==8.3.1
shellingham==1.5.4
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
trove-classifiers==0.0.0
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
webencodings==0.5.1
wheel==0.45.1
zipp==3.23.0
matplotlib==3.10.8+computecanada
fonttools==4.61.1+computecanada
kiwisolver==1.4.9+computecanada
nose==1.3.7+computecanada
python_dateutil==2.9.0.post0+computecanada
sympy==1.14.0+computecanada
mpmath==1.3.0+computecanada
cycler==0.12.1+computecanada
packaging==26.0+computecanada
numpy==2.4.2+computecanada
pandas==3.0.0+computecanada
tzdata==2025.3+computecanada
pillow==12.1.0+computecanada
pyparsing==3.3.2+computecanada
six==1.17.0+computecanada
pytz==2025.2+computecanada
scipy==1.17.0+computecanada
contourpy==1.3.3+computecanada
pure_eval==0.2.3+computecanada
ptyprocess==0.7.0+computecanada
pip==25.2+computecanada
comm==0.2.3+computecanada
platformdirs==3.11.0+computecanada
python_dateutil==2.9.0.post0+computecanada
decorator==5.2.1+computecanada
pexpect==4.9.0+computecanada
pygments==2.19.2+computecanada
debugpy==1.8.19+computecanada
traitlets==5.14.3+computecanada
ipython==9.9.0+computecanada
tornado==6.5.4+computecanada
jupyter_client==8.8.0+computecanada
matplotlib_inline==0.2.1+computecanada
jedi==0.19.2+computecanada
parso==0.8.5+computecanada
packaging==26.0+computecanada
ipykernel==7.1.0+computecanada
asttokens==3.0.1+computecanada
typing_extensions==4.15.0+computecanada
pyzmq==27.1.0+computecanada
prompt_toolkit==3.0.52+computecanada
wcwidth==0.5.2+computecanada
stack_data==0.6.3+computecanada
nest_asyncio==1.6.0+computecanada
six==1.17.0+computecanada
jupyter_core==5.9.1+computecanada
ipywidgets==8.1.8+computecanada
psutil==7.2.2+computecanada
ipython_pygments_lexers==1.1.1+computecanada
widgetsnbextension==4.0.15+computecanada
executing==2.2.1+computecanada
jupyterlab_widgets==3.0.16+computecanada
opencv_contrib_python==4.11.0
opencv_contrib_python_headless==4.11.0
opencv_python==4.11.0
opencv_python_headless==4.11.0
