*.pt
*mp4
*png
*pth

__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
logs/
runs/
outputs/
checkpoints/
snth/

.DS_Store
Thumbs.db
.vscode/
.idea/


tmp/
.tmp/

elias
.elias/

.flash-attention
flash-attention/

RobustVideoMatting/
Open-Sora/slurm_logs/